name: Build and release
on:
  push:
    branches:
      - 'beta'
      - 'master'

jobs:
  verify:
    name: Verify and build
    uses: ./.github/workflows/build.yml
    secrets: inherit

  release:
    name: Release
    runs-on: windows-latest
    needs: verify
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Prepare
        uses: actions/setup-node@v6
        with:
          # Do not include registy url here, it creates a .npmrc which prevents
          # semantic-release from authenticating with npm
          node-version: '24'
          cache: 'npm'

      - name: Install
        run: npm ci

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./build
          pattern: executable-*
          merge-multiple: true

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}''
        run: npx semantic-release
